<header class="main-header">
    <div>
        <img src="../images/main_header_logo.jpg" class="main-header__logo" alt="main-logo"><a href="/" class="main-header__brand">Predicta</a> 
    </div>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a href="/">Home</a>
            </li>
            <li class="main-nav__item">
                <a href="/about">About us</a>
            </li>
            <li class="main-nav__item">
                <a href="/prediction">Predict Now</a>
            </li>
            <li class="main-nav__item">
                <a href="/contact">Contact us</a>
            </li>
            <li class="main-nav__item main-nav__item--cta">
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</header>