<%- include('./includes/head.ejs') %>
<style>
    h1{
        display: inline-block;
        width: 100%;
        height: 79.25vh;
  }
</style>
<link rel="stylesheet" href="/css/shared.css">
</head>
<body>
    <h1>page not found</h1>
    <%- include('./includes/end.ejs') %>