<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/shared.css">
</head>
<body>
    <%-include('../includes/navigation.ejs') %>
    <main id="about-us">
        <div class="about-us__background"></div>
       
        <section class="about-us-flex">
            <div class="about-us__service--summery">
                <h3 class="service-title">Welcome to Predicta!</h3> 
                <p class="service-description">Starting as a small business in [CITY], we have big dreams. Our passion for [PRODUCTS CATEGORY NAME], means that we provide our customers with nothing but the highest quality of products, that are guaranteed to meet their needs and keep them satisfied! <br>
                    With a motivated team, we strive to be the creative minds that bring a smile to your face. That iss why we are always looking for innovative new ways to get the best to you.</p>
            </div>
           <div>

          <div>
            <div class="team-title"><h3>Developers Team</h3></div>
            <div class="our-team">
                <div class="our-team__member">
                    <img src="https://wallpaperaccess.com/full/1429813.jpg" alt="team-member-1">
                    <p>Sushil Kumar Bhatta</p>
                </div>
                <div class="our-team__member">
                    <img src="https://wallpaperaccess.com/full/1429813.jpg" alt="team-member-2">
                    <p>Binayak Bhattrai</p>
                </div>
                <div class="our-team__member">
                    <img src="https://wallpaperaccess.com/full/1429813.jpg" alt="team-member-3">
                    <p>Pawan Joshi</p>
                </div>
                
                <div class="our-team__member">
                    <img src="https://wallpaperaccess.com/full/1429813.jpg" alt="team-member-3">
                    <p>Samman Basnet</p>
                </div>
            </div>
        </div>
        </section>
    </main>
    include('../includes/end.js')