<%- include('../includes/head.ejs') %>
    <!--                    fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--                    css -->
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/contract.css">
</head>
<body>
    <%-include('../includes/navigation.ejs') %>
    <main>
        <section id="contract-items">
                <div class="contract-detail">
                    <div>
                        <h1 class="contract-detail__title">Contact Info</h1>
                    </div>
                    <div class="contract-detail__item number"> 
                        <i class="fa-solid fa-phone-volume" style="color: #4fa155;"></i>
                        <p>+977 9810199330</p>
                    </div>
                
                    <div class="contract-detail__item email">
                        <i class="fa-solid fa-envelope" style="color: #4fa155;"></i>
                        <p>sushil.191547@edu.np</p>
                    </div>
                    <div class="contract-detail__item address">
                        <i class="fa-solid fa-location-dot" style="color: #4fa155;"></i>
                        <p>Ward No. 32, Chapro, Jabibuti, kathamandu, Nepal</p>
                    </div>
                </div>

                <form action="" class="contract-query">
                    <input type="text" name="name" placeholder="Enter your name" class="query">
                    <input type="email" name="email" placeholder="Enter a valid email address" class="query">
                    <textarea name="comment_message" cols="20" rows="10" class="query">Enter your message</textarea>  
                    <button type="submit">Submit</button>                
                </form>
      
        </section>
        <section class="blue-background"></section>
    </main>
    <%- include('../includes/end.ejs')%>
</body>
</html>