<%- include('../includes/head.ejs') %>      
    <link rel="stylesheet" href="/css/login.css">
    

    <script src="/js/login.js" defer></script>

</head>

<body>
    <main class="login">
        <section class="login-content">
            <div class="login-content__title">
            Login to Predicta
            </div>
            <form action="/" class="login-content__form" id="form">
                    <div class="form-item">
                        <input type="text" name="username" id="username" placeholder="Username">
                        <div class="error"></div>
                    </div>
                    <div class="form-item">
                        <input type="password" name="password" id="password" placeholder="password">
                        <div class="error"></div>
                    </div>
                    <div class="form-item" >
                        <input type="checkbox" class="checkbox"  name="remember" id="remember" ><label for="remember">Remember Me</label>
                        <div class="error"></div>
                    </div>
                    <button class="btn" type="submit">Log in</button>
            </form>
            <div class="login-content__error">
                <p class="login-content__error--text">Didn't have one? <a href="/login/signup">Signup</a> </p>
            </div>
        </section>
        <section class="login-image">
        <img src="../../images/login_image.png" alt="login">
        </section>
    </main>
</body>>
</html>