<%- include('../includes/head.ejs') %>
    <!-- css -->
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="stylesheet" href="css/prediction.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main id="make-prediction">
      <div class="make-prediction__title">
        <h1>Provide Information of House</h1>
      </div>
      <form action="" class="form-items">
          <div class="form-item">
            <input type="text" placeholder="Location of House" id="address" />
          </div>

          <div class="form-item">
            <input type="number" placeholder="No of bedrooms" id="bedroom" />
          </div>

          <div class="form-item">
            <input type="text" placeholder="city" id="city" />
          </div>

          <div class="form-item">
            <input type="number" placeholder="No of floors" id="floors" />
          </div>
          <div class="form-item">
            <input type="number" placeholder="No of Bathroom" id="age" />
          </div>

          <div class="form-item checkbox">
            <input type="checkbox" id="parking" />
            <label for="parking">Include Parking</label>
          </div>
         <button class="btn" type="submit">Make prediction</button>
      </form>
    </main>
   <%- include('../includes/end.ejs') %>
  </body>
</html>
