<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/signup.css" />

    <script src="/js/signup.js" defer></script>
  </head>

  <body>
    <main class="login">
      <section class="login-content">
        <div class="login-content__title">Login to Predicta</div>
        <form action="" class="login-content__form" id="form">
          <div class="form-item">
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
            />
            <div class="error"></div>
          </div>

          <div class="form-item">
            <input type="email" name="email" id="email" placeholder="Gmail" />
            <div class="error"></div>
          </div>

          <div class="form-item">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Choose Password"
            />
            <div class="error"></div>
          </div>
          <div class="form-item">
            <input
              type="password"
              name="confirm_pass"
              id="confirm_pass"
              placeholder="Confirm Password"
            />
            <div class="error"></div>
          </div>

          <div class="form-item">
            <input
              type="checkbox"
              class="checkbox"
              name="terms_n_conditions"
              id="terms"
            /><label for="terms">Agree with terms and conditions</label>
            <div class="error"></div>
          </div>

          <button class="btn" type="submit">Sign up</button>
        </form>
      </section>
      <section class="login-image">
        <img src="../../images/signUp.jpg" alt="login" />
      </section>
    </main>
  </body>
</html>
