<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log In</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/static/login.css">
    

    <script src="../login.js" defer></script>

</head>

<body>
    <main class="login">
        <section class="login-content">
            <div class="login-content__title">
            Login to Predicta
            </div>
            <form action="" class="login-content__form">
                    <div class="form-item">
                        <input type="text" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="form-item">
                        <input type="password" name="password" id="password" placeholder="password">
                    </div>
                    <div class="form-item" >
                        <input type="checkbox" class="checkbox" name="remember" id="remember" ><label for="remember">Remember Me</label>
                    </div>
                    <button class="btn" type="submit">Log in</button>
            </form>
            <div class="login-content__error">
                <p class="login-content__error--text">Didn't have one? <a href="../signup/signup.html">Signup</a> </p>
            </div>
        </section>
        <section class="login-image">
        <img src="../../images/login_image.png" alt="login">
        </section>
    </main>
</body>>
</html>